services:
  {{ node_name }}:
    image: docker.io/hashicorp/vault:1.20
    container_name: {{ node_name }}
    user: "{{ ansible_user_uid }}:{{ ansible_user_gid }}"
    ports:
      - "8200:8200"
      - "8201:8201"
    volumes:
      - ./config:/vault/config
      - ./data:/vault/data
    environment:
      - VAULT_ADDR=http://{{ node_name }}:8200
      - SKIP_CHOWN=1
      - SKIP_SETCAP=1
    command: server
    networks:
      - vault-network
    cap_add:
      - IPC_LOCK

networks:
  vault-network:
    driver: bridge