{
  "url": "{{ vault_ldap_url }}",
  "userdn": "ou=Users,dc=example,dc=com",
  "groupdn": "ou=Groups,dc=example,dc=com",
  "binddn": "cn=admin,dc=example,dc=com",
  "bindpass": "your-ldap-password",
  "userattr": "cn",
  "groupattr": "cn",
  "insecure_tls": false,
  "starttls": false
}