# disabling mlock is fine as long as we use integrated storage
# see https://developer.hashicorp.com/vault/docs/configuration
disable_mlock = true
api_addr      = "http://{{ node_name }}:8200"
cluster_addr  = "http://{{ node_name }}:8201"
cluster_name  = "vault-cluster"
ui            = true

storage "raft" {
  path    = "/vault/data"
  node_id = "{{ node_name }}"
}

listener "tcp" {
  address         = "0.0.0.0:8200"
  cluster_address = "0.0.0.0:8201"
  tls_disable     = true
}
